/* Main */
#memberslist {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    /* border: 1px dashed gray; */
    flex: 1 1 100px;
    text-align: center;
    padding: 12px;
}

.avatar img {
    max-width: 100px;
    max-height: 65px;
}